body {
    background-color: blue;
}

#container-meio {
    display: flex;
    justify-content: center;
}

.logo-lamburghini {
    width: 70px;
    height: 70px;
}

.carousel-inner {
    width: 800px;
    height: 700px;
}


